body {
  background-color: #F0EBCE;
}

.nav-link-spacing {
  margin-top: 10px;
  margin-right: 30px;
  margin-left: 30px;
}

.navbar-options {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 22px;
}

.dropdown-options {
  font-size: 22px;
}

.navbar-options a {
  color: #395144;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  text-align: center;
  border-right: 1px solid #395144;
  height: 100%;
}

.navbar-options a:last-child {
  border-right: none;
}

.custom-navbar-bottom {
  height: 100px;
}

.tees-toggle {
  position: relative;
  cursor: pointer;
  font-size: 12px;
  padding-right: 20px;
}

.triangle {
  position: absolute;
  transform: rotate(315deg);
  right: 1px; /* Adjust the position of the triangle */
  top: -1px; /* Adjust the position of the triangle */
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid black; /* Change the color of the triangle */
}

.course-name {
/* need a font for the name */
font-family: cursive;
}

.mobile-container {
  margin-bottom: 120px;
}

.table-scores {
  margin-bottom: 0%;
  margin-right: 15px;
  font-size: 16px;
}

.home-scores {
  margin-bottom: 0%;
  margin-right: 15px;
  font-size: 12px;
}
